@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* Header styling */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: .7rem 1rem;
    background-color: black;
}
.logo{
    height: 60px;
    width: 60px;
    border-radius: .3rem;
}
.company_name{
    color: #fff;
    display: inline-block;
    align-self: center;
    justify-self: center;
}
.list_group{
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.nav_link{
    list-style-type: none;
    padding: 0 2rem;
    color: #fff;
}
.active a{
    color: orange ;
}
.nav_link a{
    text-decoration: none;
}
.nav_link a:hover{
    color: orange;
    transition: all 100ms ease-in-out;
    color: rgb(203, 203, 203);
}
    
    /* <!-- Main --> */
.main-section{
    background-image: url('/resources/mainwebp.webp');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.main-title{
    letter-spacing: 5px;
    margin-bottom: 1.3rem;
}
.main-subtitle{
    font-size: 3rem;
    color: rgb(243, 186, 82);
    letter-spacing: 3px;
}
.wrapper{
    width: inherit;
    height: inherit;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7217261904761905) 32%, rgba(0,212,255,0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.button_group{
    display: flex;
    justify-content: center;
    column-gap: 1.4rem;
    margin-top: 1.8rem;
}
.Focus, .Learn{
    padding: .7em 1.4em;
    cursor: pointer;
    font-size: 1.5rem;
    border: 2px solid orange;
}
.Focus:hover, .Learn:hover{
    background-color: orange;
    color: #fff;
    transition: all 100ms ease-in-out;
}

    /* <!-- Why section --> */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        padding: 10px;

    }


    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 30px; 
    }

    .grid-container > div button {
        background-color:fuchsia;
    }

    .gridcotainer h1 {
        column-span: all;
    }
  
    .grid-header {
        column-span: all;
    }

    .item1 {
        grid-row-start: 1;
    }

    .why-title {
        text-align: center;
    }

    .button-why {
        background-color: #333ed8;
        border: none;
        padding: 20px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
      }

    .button-1 {
        border-radius: 25%;
    }

    /* <!-- Contact us --> */

    /* <!-- Footer --> */