    /* <!-- Main --> */

    /* <!-- Why section --> */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
    }


    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 30px; 
    }

    .gridcotainer h1 {
        column-span: all;
    }
  
    .grid-header {
        column-span: all;
    }

    .item1 {
        grid-row-start: 1;
    }

    .why-title {
        text-align: center;
    }

    /* <!-- Contact us --> */

    /* <!-- Footer --> */