@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* Header styling */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .7rem 1rem;
    background-color: black;
}
.logo{
    height: 60px;
    width: 60px;
    border-radius: .3rem;
}
.list_group{
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.nav_link{
    list-style-type: none;
    padding: 0 2rem;
}
.nav_link a{
    text-decoration: none;
    color: #fff;
}
    
    /* <!-- Main --> */
.main-section{
    background-image: url('/resources/mainwebp.webp');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
    /* <!-- Why section --> */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        padding: 10px;

    }


    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 30px; 
    }

    .grid-container > div button {
        background-color:fuchsia;
    }

    .gridcotainer h1 {
        column-span: all;
    }
  
    .grid-header {
        column-span: all;
    }

    .item1 {
        grid-row-start: 1;
    }

    .why-title {
        text-align: center;
    }

    .button-why {
        background-color: #333ed8;
        border: none;
        padding: 20px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
      }

    .button-1 {
        border-radius: 25%;
    }

    /* <!-- Contact us --> */

    /* <!-- Footer --> */